{% extends "layout.html" %}

{% block content %}

<div class="section-container">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="section-container-spacer text-center">
            <h1 class="h2">03 : Contact me</h1>
          </div>

          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              Thank you! I will get in touch with you.
            </div>
          </div>

       </div>
      </div>
    </div>
  </div>


{% endblock %}